<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Wines</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="logo"><img src="/images/logo.png" alt="Logo"></li>
            <li><a th:href="@{/TheWineBoutique/home}">Home</a></li>
            <li><a th:href="@{/TheWineBoutique/wineStore}">Wine Store</a></li>
            <li><a th:href="@{/TheWineBoutique/search}">Search Wines</a></li>
            <li th:if="${isAdmin}"><a th:href="@{/TheWineBoutique/allwines}">All Wines</a></li>
            <li th:if="${isAdmin}"><a th:href="@{/TheWineBoutique/newWine}">Add New Wine</a></li>
            <li th:if="${isAuthenticated}">
                <a href="/TheWineBoutique/logout" class="button">Logout</a>
            </li>
            <li th:if="${!isAuthenticated}">
                <a href="/TheWineBoutique/login" class="button">Login</a>
                <a href="/TheWineBoutique/register" class="button">Register</a>
            </li>

        </ul>
    </nav>
</header>


<h1>All Wines</h1>

<div class="wine-grid">
    <div class="wine-card" th:each="wine : ${wines}">
        <img th:src="${wine.imageUrl}" alt="Wine Image">
        <h3 th:text="${wine.name}">Wine Name</h3>
        <p th:text="'Description: ' + ${wine.description}">Wine Description</p>
        <p th:text="'Category: ' + ${wine.category}">Wine Category</p>
        <p th:text="'Type: ' + ${wine.type}">Wine Type</p>
        <p th:text="'Vintage: ' + ${wine.vintage}">Wine Vintage</p>
        <p th:text="'Country: ' + ${wine.country}">Wine Country</p>
        <p th:text="'Winery: ' + ${wine.winery}">Wine Winery</p>
        <p th:text="'Price: $' + ${wine.price}">Wine Price</p>
        <form th:action="@{/TheWineBoutique/cart/add}" method="post">
            <input type="hidden" name="wineId" th:value="${wine.id}" />
            <input type="number" name="quantity" value="1" min="1" />
            <button type="submit">Add to Cart</button>
        </form>
    </div>
</div>

</body>
</html>
