<!DOCTYPE html>
<html>
<head>
    <title>Login Prompt</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="login-prompt-container">
    <h1>You need to log in or register to proceed</h1>
    <div class="button-group">
        <a href="/TheWineBoutique/login" class="button">Login</a>
        <a href="/TheWineBoutique/register" class="button">Register</a>
        <a href="/TheWineBoutique/cart/view" class="button back-to-cart">Back to Cart</a>
    </div>
</div>
</body>
</html>



