<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PayPal Payment</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="paypal-container">
    <h1>PayPal Payment</h1>
    <p>Proceed with your PayPal payment.</p>
    <button onclick="location.href='/TheWineBoutique/pay'">Complete Payment</button>
    <button onclick="location.href='/TheWineBoutique/wineStore'" class="btn-back-shopping">Back to Shopping</button>
</div>
</body>
</html>

