<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Wines</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function checkMinCharacters(value) {
            return value.length >= 3;
        }

        function callAjaxFilter() {
            let name = $('#name').val();
            let description = $('#description').val();
            let category = $('#category').val();
            let type = $('#type').val();
            let vintage = $('#vintage').val();
            let country = $('#country').val();
            let winery = $('#winery').val();
            let priceFrom = $('#priceFrom').val();
            let priceTo = $('#priceTo').val();

            if (checkMinCharacters(name) || checkMinCharacters(description) || checkMinCharacters(type) ||
                checkMinCharacters(vintage) || checkMinCharacters(country) || checkMinCharacters(winery) ||
                category !== "" || priceFrom !== "" || priceTo !== "") {
                $.ajax({
                    type: 'GET',
                    url: '/TheWineBoutique/ajaxSearch',
                    data: {
                        name: name,
                        description: description,
                        category: category,
                        type: type,
                        vintage: vintage,
                        country: country,
                        winery: winery,
                        priceFrom: priceFrom,
                        priceTo: priceTo
                    },
                    dataType: 'json',
                    success: function(data) {
                        let resultsDiv = $('#searchResults');
                        resultsDiv.empty();
                        if (data.length === 0) {
                            resultsDiv.append('<h4>No results found.</h4>');
                        } else {
                            let resultHtml = '<h2>Search Results</h2><div class="wine-grid">';
                            data.forEach(function(wine) {
                                resultHtml += `
                        <div class="wine-card">
                            <img src="${wine.imageUrl}" alt="Wine Image">
                            <h3>${wine.name}</h3>
                            <p>Description: ${wine.description}</p>
                            <p>Category: ${wine.category}</p>
                            <p>Type: ${wine.type}</p>
                            <p>Vintage: ${wine.vintage}</p>
                            <p>Country: ${wine.country}</p>
                            <p>Winery: ${wine.winery}</p>
                            <p>Price: $${wine.price}</p>
                            <button>Add to Cart</button>
                        </div>
                    `;
                            });
                            resultHtml += '</div>';
                            resultsDiv.append(resultHtml);
                        }
                    },
                    error: function() {
                        console.log('Error loading');
                    }
                });
            }
        }
        function resetSearch() {
            $('#searchForm')[0].reset();
            $('#searchResults').empty();
        }
    </script>
</head>
<body>

<header>
    <nav>
        <ul>
            <li class="logo"><img src="/images/logo.png" alt="Logo"></li>
            <li><a th:href="@{/TheWineBoutique/home}">Home</a></li>
            <li><a th:href="@{/TheWineBoutique/wineStore}">Wine Store</a></li>
            <li><a th:href="@{/TheWineBoutique/search}">Search Wines</a></li>
            <li th:if="${isAdmin}"><a th:href="@{/TheWineBoutique/allwines}">All Wines</a></li>
            <li th:if="${isAdmin}"><a th:href="@{/TheWineBoutique/newWine}">Add New Wine</a></li>
            <li th:if="${isAuthenticated}">
                <a href="/TheWineBoutique/logout" class="button">Logout</a>
            </li>
            <li th:if="${!isAuthenticated}">
                <a href="/TheWineBoutique/login" class="button">Login</a>
                <a href="/TheWineBoutique/register" class="button">Register</a>
            </li>
            <li class="cart-link">
                <a href="/TheWineBoutique/cart" class="button">
                    <img src="/images/cart.png" alt="Cart" class="cart-icon">
                    <span class="cart-count" th:text="${cartSize}">0</span>
                </a>
            </li>
        </ul>
    </nav>
</header>

<h1>Search Wines</h1>

<form id="searchForm" onsubmit="event.preventDefault(); callAjaxFilter();">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" onkeyup="callAjaxFilter()">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" onkeyup="callAjaxFilter()">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" onchange="callAjaxFilter()">
            <option value="">Select</option>
            <option th:each="category : ${wineCategoryList}" th:value="${category}" th:text="${category}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <input type="text" id="type" onkeyup="callAjaxFilter()">
    </div>
    <div class="form-group">
        <label for="vintage">Vintage</label>
        <input type="text" id="vintage" onkeyup="callAjaxFilter()">
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <input type="text" id="country" onkeyup="callAjaxFilter()">
    </div>
    <div class="form-group">
        <label for="winery">Winery</label>
        <input type="text" id="winery" onkeyup="callAjaxFilter()">
    </div>
    <div class="form-group">
        <label for="priceFrom">Price From</label>
        <input type="number" id="priceFrom" onchange="callAjaxFilter()">
    </div>
    <div class="form-group">
        <label for="priceTo">Price To</label>
        <input type="number" id="priceTo" onchange="callAjaxFilter()">
    </div>
    <div class="button-group">
        <button type="submit">Search</button>
        <button type="reset" onclick="resetSearch()">Reset</button>
    </div>
</form>


<div class="search-results" id="searchResults">

    <div th:if="${#lists.isEmpty(searchResults)}">
        <h4>No results found.</h4>
    </div>
    <div th:unless="${#lists.isEmpty(searchResults)}">
        <h2>Search Results</h2>
        <div class="wine-card" th:each="wine : ${searchResults}">
            <img th:src="${wine.imageUrl}" alt="Wine Image">
            <h3 th:text="${wine.name}">Wine Name</h3>
            <p th:text="'Description: ' + ${wine.description}">Wine Description</p>
            <p th:text="'Category: ' + ${wine.category}">Wine Category</p>
            <p th:text="'Type: ' + ${wine.type}">Wine Type</p>
            <p th:text="'Vintage: ' + ${wine.vintage}">Wine Vintage</p>
            <p th:text="'Country: ' + ${wine.country}">Wine Country</p>
            <p th:text="'Winery: ' + ${wine.winery}">Wine Winery</p>
            <p th:text="'Price: $' + ${wine.price}">Wine Price</p>
            <button>Add to Cart</button>
        </div>
    </div>
</div>

<script>
    function resetForm() {
        window.location.href = window.location.href;
    }


</script>

</body>
</html>


